
nmt/checkpoints/3layers_128d_8heads_512dff_20train_perc/ckpt-3.index
nmt/checkpoints/3layers_128d_8heads_512dff_20train_perc/ckpt-4.data-00000-of-00001
nmt/checkpoints/3layers_128d_8heads_512dff_20train_perc/ckpt-4.index
nmt/checkpoints/5layers_128d_8heads_512dff_20train_perc/checkpoint
nmt/checkpoints/5layers_128d_8heads_512dff_20train_perc/ckpt-46.data-00000-of-00001
nmt/checkpoints/5layers_128d_8heads_512dff_20train_perc/ckpt-46.index
nmt/checkpoints/5layers_128d_8heads_512dff_20train_perc/ckpt-47.data-00000-of-00001
nmt/checkpoints/5layers_128d_8heads_512dff_20train_perc/ckpt-47.index
nmt/checkpoints/5layers_128d_8heads_512dff_20train_perc/ckpt-48.data-00000-of-00001
nmt/checkpoints/5layers_128d_8heads_512dff_20train_perc/ckpt-48.index
nmt/checkpoints/5layers_128d_8heads_512dff_20train_perc/ckpt-49.data-00000-of-00001
nmt/checkpoints/5layers_128d_8heads_512dff_20train_perc/ckpt-49.index
nmt/checkpoints/5layers_128d_8heads_512dff_20train_perc/ckpt-50.data-00000-of-00001
nmt/checkpoints/5layers_128d_8heads_512dff_20train_perc/ckpt-50.index
nmt/checkpoints/6Decoder_layers_24Encoder_layers_128d_8heads_512dff_20train_perc/checkpoint
nmt/checkpoints/6Decoder_layers_24Encoder_layers_128d_8heads_512dff_20train_perc/ckpt-29.data-00000-of-00001
nmt/checkpoints/6Decoder_layers_24Encoder_layers_128d_8heads_512dff_20train_perc/ckpt-29.index
nmt/checkpoints/6Decoder_layers_24Encoder_layers_128d_8heads_512dff_20train_perc/ckpt-30.data-00000-of-00001
nmt/checkpoints/6Decoder_layers_24Encoder_layers_128d_8heads_512dff_20train_perc/ckpt-30.index
nmt/checkpoints/6Decoder_layers_24Encoder_layers_128d_8heads_512dff_20train_perc/ckpt-31.data-00000-of-00001
nmt/checkpoints/6Decoder_layers_24Encoder_layers_128d_8heads_512dff_20train_perc/ckpt-31.index
nmt/checkpoints/6Decoder_layers_24Encoder_layers_128d_8heads_512dff_20train_perc/ckpt-32.data-00000-of-00001
nmt/checkpoints/6Decoder_layers_24Encoder_layers_128d_8heads_512dff_20train_perc/ckpt-32.index
nmt/checkpoints/6Decoder_layers_24Encoder_layers_128d_8heads_512dff_20train_perc/ckpt-33.data-00000-of-00001
nmt/checkpoints/6Decoder_layers_24Encoder_layers_128d_8heads_512dff_20train_perc/ckpt-33.index
nmt/checkpoints/6layers_128d_16heads_512dff_20train_perc/checkpoint
nmt/checkpoints/6layers_128d_16heads_512dff_20train_perc/ckpt-46.data-00000-of-00001
nmt/checkpoints/6layers_128d_16heads_512dff_20train_perc/ckpt-46.index
nmt/checkpoints/6layers_128d_16heads_512dff_20train_perc/ckpt-47.data-00000-of-00001
nmt/checkpoints/6layers_128d_16heads_512dff_20train_perc/ckpt-47.index
nmt/checkpoints/6layers_128d_16heads_512dff_20train_perc/ckpt-48.data-00000-of-00001
nmt/checkpoints/6layers_128d_16heads_512dff_20train_perc/ckpt-48.index
nmt/checkpoints/6layers_128d_16heads_512dff_20train_perc/ckpt-49.data-00000-of-00001
nmt/checkpoints/6layers_128d_16heads_512dff_20train_perc/ckpt-49.index
nmt/checkpoints/6layers_128d_16heads_512dff_20train_perc/ckpt-50.data-00000-of-00001
nmt/checkpoints/6layers_128d_16heads_512dff_20train_perc/ckpt-50.index
nmt/logs/10layers_128d_8heads_512dff_20train_perc/events.out.tfevents.1672290868.DESKTOP-IRPI060.6216.0.v2
nmt/logs/1layers_128d_8heads_512dff_20train_perc/events.out.tfevents.1672321501.DESKTOP-IRPI060.9228.0.v2
nmt/logs/1layers_128d_8heads_512dff_20train_perc/events.out.tfevents.1672325757.DESKTOP-IRPI060.7420.0.v2
nmt/logs/3layers_128d_8heads_512dff_20train_perc/events.out.tfevents.1672329759.DESKTOP-IRPI060.24904.0.v2
nmt/logs/4layers_128d_8heads_512dff_20train_perc/events.out.tfevents.1672318372.DESKTOP-IRPI060.25932.0.v2
nmt/logs/5layers_128d_8heads_512dff_20train_perc/events.out.tfevents.1672232372.DESKTOP-IRPI060.22468.0.v2
nmt/logs/6Decoder_layers_24Encoder_layers_128d_8heads_512dff_20train_perc/events.out.tfevents.1672331732.DESKTOP-IRPI060.20132.0.v2
nmt/logs/6layers_128d_16heads_512dff_20train_perc/events.out.tfevents.1672316277.DESKTOP-IRPI060.21556.0.v2
nmt/logs/6layers_128d_16heads_512dff_20train_perc/events.out.tfevents.1672319093.DESKTOP-IRPI060.2240.0.v2
nmt/logs/6layers_128d_8heads_512dff_20train_perc/events.out.tfevents.1672321380.DESKTOP-IRPI060.23572.0.v2
nmt/logs/6layers_128d_8heads_512dff_20train_perc/events.out.tfevents.1672321814.DESKTOP-IRPI060.17764.0.v2
nmt/logs/6layers_128d_8heads_512dff_20train_perc/events.out.tfevents.1672322095.DESKTOP-IRPI060.21448.0.v2
nmt/logs/6layers_128d_8heads_512dff_20train_perc/events.out.tfevents.1672322611.DESKTOP-IRPI060.3332.0.v2
nmt/logs/6layers_128d_8heads_512dff_20train_perc/events.out.tfevents.1672322931.DESKTOP-IRPI060.8452.0.v2
nmt/logs/6layers_128d_8heads_512dff_20train_perc/events.out.tfevents.1672323357.DESKTOP-IRPI060.26148.0.v2
nmt/logs/6layers_128d_8heads_512dff_20train_perc/events.out.tfevents.1672323798.DESKTOP-IRPI060.23944.0.v2
nmt/logs/6layers_128d_8heads_512dff_20train_perc/events.out.tfevents.1672324003.DESKTOP-IRPI060.26040.0.v2
